@font-face {
    font-family: 'Walkway';
    src: url('/include/font-face/walkway/Walkway_Bold-webfont.eot');
    src: url('/include/font-face/walkway/Walkway_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/include/font-face/walkway/Walkway_Bold-webfont.woff') format('woff'),
         url('/include/font-face/walkway/Walkway_Bold-webfont.ttf') format('truetype'),
         url('/include/font-face/walkway/Walkway_Bold-webfont.svg#PlayRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

A,
ABBR,
ACRONYM,
ADDRESS,
BLOCKQUOTE,
CAPTION,
CITE,
CODE,
DEL,
DD,
DFN,
DL,
DT,
EM,
FIELDSET,
FORM,
H1,
H2,
H3,
H4,
H5,
H6,
IMG,
LABEL,
LEGEND,
LI,
OL,
P,
PRE,
Q,
S,
SAMP,
SMALL,
STRIKE,
STRONG,
SUB,
SUP,
TABLE,
TBODY,
TFOOT,
THEAD,
TR,
TH,
TD,
TT,
UL,
VAR {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: normal;
    font-weight: normal;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}

A,
BODY {
	color: #4d4d4d;
}

BODY {
	background-color: #fff;
    margin: 0 auto;
	text-rendering: optimizeLegibility;
}

BODY,
FOOTER,
HEADER,
HTML,
NAV {
	position: relative;
}

BODY {
    font-family: 'Helvetica', 'Verdana', sans-serif;
	font-size: 16px;
	outline: none;
}

FOOTER {
	background-color: #f2f2f2;
	border-top: 2px solid #fbd199;
	color: #808080;
    font-size: 0.75em;
    margin-top: 20px;
	padding: 10px 20px 10px 20px;
}

FOOTER,
HEADER {
    clear: both;
}

FOOTER,
HEADER {
    overflow: hidden;
}

H1 {
    font-size: 1.50em;
}

H1,
H2,
H3,
H4,
H5,
H6 {
    color: #000;
    font-family: 'Walkway';
    margin-bottom: 10px;
}

H2 {
    font-size: 1.35em;
}

H3,
H4,
H5,
H6 {
	font-size: 1.10em;
    font-weight: bold;
}

HEADER {
	background-color: #e7711b;
	border-bottom: solid 2px #fbd199;
	margin-bottom: 20px;
	padding: 4px 20px 4px 20px;
}

HEADER H1 {
	color: #fff;	
	font-family: 'Walkway';
	font-size: 1.75em;
	letter-spacing: 1px;
	margin: 0;
	padding: 0;
}

HEADER H1 SPAN {
	opacity: 0.75;
}

HTML {
	background-color: #825d42;
}

IMG {
    vertical-align: bottom;
}

OL,
UL {
    margin: 0 0 18px 25px;
}

P {
    margin-bottom: 10px;
}

.columns {
	margin-top: 20px;
	overflow: hidden;
}

.columns H1 {
	border-bottom: solid 1px #e7711b;
}

.columns.three SECTION,
.columns.two SECTION {
	float: left;
}

@media ( min-width: 1024px ) {

	BODY {
		width: 1024px;
	}
	
	HEADER {
		padding: 0 1.953125% 0 1.953125%;
	}

	.columns SECTION {
		margin: 0 1.953125% 0 1.953125%;
		width: 96.09375%;
	}
	
	.columns.three SECTION {
		width: 29.427083333%;
	}

	.columns.two SECTION {
		width: 46.09375%;
	}
	
}

@media ( min-width: 768px ) and ( max-width: 979px ) {

	BODY {
		width: 100%;
	}
	
	HEADER {
		padding: 0 2.604166666% 0 2.604166666%; 
	}

	.columns SECTION {
		margin: 0 2.604166666% 0 2.604166666%;
		width: 94.791666666%;
	}

	.columns.three SECTION,
	.columns.two SECTION {
		width: 44.791666666%;
	}

}

@media (min-width: 321px ) and ( max-width: 767px ) {

	BODY {
		width: 100%;
	}
	
	HEADER {
		padding: 0 2.083333333% 0 2.083333333%;
	}

	.columns SECTION {
		margin: 0 2.083333333% 0 2.083333333%;
	}

	.columns.three SECTION,
	.columns.two SECTION {
		float: none;
		width: 95.833333333%;
	}

}

@media ( max-width: 320px ) {

	BODY {
		width: 320px;
	}
	
	H1 {

		font-size: 1.10em;
	}
	
	HEADER {
		padding: 0 10px 0 10px;
	}
	
	.columns SECTION {
		margin: 0 10px 0 10px;
	}

	.columns.three SECTION,
	.columns.two SECTION {
		float: none;
		width: 300px;
	}

}
