BODY {
	width: 1024px;
}

PRE {
	margin-right: -100%;
}

TH.large {
	width: 18.292682926%;
}

TH.medium {
	width: 8.1300813%;
}

TH.small {
	width: 4.06504065%;
}

.columns SECTION {
	margin: 0 1.953125% 0 1.953125%;
	width: 96.09375%;
}

.columns.three SECTION {
	width: 29.427083333%;
}

.columns.two SECTION {
	width: 46.09375%;
}
